.bases {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.searchIcon {
  display: block;
  width: 32px;
  height: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.empty {
  margin: 8px 0;
  color: var(--text-primary-color);
  font-family: var(--main-font-family);
  text-align: center;
}
